<div class="layout">
  <aside class="sidebar">
    <div class="who" *ngIf="user(); else guest">
      <div class="who-role">{{ user()?.role }}</div>
      <div class="who-email">{{ user()?.email }}</div>
      <div class="who-name">{{ user()?.name }}</div>
    </div>

    <ng-template #guest>
      <div class="who">
        <div class="who-role">Guest</div>
      </div>
    </ng-template>

    <div class="section">HOME</div>
    <a routerLink="/books" routerLinkActive="active">Books</a>

    <div class="section">ACCOUNT</div>
    <a *ngIf="!user()" routerLink="/login" routerLinkActive="active">Login</a>
    <a *ngIf="!user()" routerLink="/register" routerLinkActive="active">Register</a>

    <a *ngIf="user()" routerLink="/cart" routerLinkActive="active">Cart</a>
    <a *ngIf="user()" routerLink="/my-orders" routerLinkActive="active">My Orders</a>

    <div class="section" *ngIf="role() === 'EMPLOYEE' || role() === 'ADMIN'">MANAGER</div>
    <a *ngIf="role() === 'EMPLOYEE' || role() === 'ADMIN'"
       routerLink="/manager/books" routerLinkActive="active">Book List</a>

    <div class="section" *ngIf="role() === 'ADMIN'">ADMIN</div>
    <a *ngIf="role() === 'ADMIN'"
       routerLink="/admin/create-user" routerLinkActive="active">Create User</a>

    <button class="logout" *ngIf="user()" (click)="logout()">Logout</button>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
