<h1>Register</h1>

<div class="card">
  <input [(ngModel)]="email" placeholder="email" />
  <input [(ngModel)]="password" placeholder="password" type="password" />
  <input [(ngModel)]="confirm" placeholder="retype password" type="password" />
  <input [(ngModel)]="name" placeholder="John Smith" />

  <button (click)="submit()">Register</button>

  <div class="ok" *ngIf="msg">{{ msg }}</div>
  <div class="err" *ngIf="err">{{ err }}</div>

  <p class="muted"><a routerLink="/login">Login</a></p>
</div>
